body{
    margin: 0;
}
.button-size{
    background-color: rgb(164, 188, 70);
    height: 60px;
}
.img-size{
    width: 40px;
}
.green-img{
    width: 60%;
}
.header-height{
    height:  680px;
    background-color: rgb(255, 251, 240);
}
.section-height{
    height: 500px;
}
.pic-width{
    width: 80%;
    margin-left: 60px;
}
.card-img{
    width: 70px;
}
.penguin{
    border: 0;
    height: 30%;
}
.radius{
    border-radius: 20px;
}
.resize{
    height: 80%;
    width: 60%;
    display: block;
    margin: auto;
}
.inside-border{
    background-color: rgba(236, 232, 232, 0.431);
    border-radius: 10px;
    margin: 20px;
    height: 60%;
}
.area{
     text-decoration: none;
    background-color: rgb(164, 188, 70);
    padding: 5px 30px;
    width: 11em;
    border-radius: 10px;
}
.f-color{
    font-weight: 700;
    color: white;
}
.foot{
    border: 0;
    background-color: white;
}
.cd-border{
    border: 0;
    border-radius: 15px;
}
.bebas-font{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 60px;
}
.roboto-font{
    font-family: 'Roboto', sans-serif;
}
.highlight{
    color: rgb(250, 190, 76);
}
.blue-color{
    color: rgb(54, 57, 88);
}
.light-color{
    color: rgb(62, 62, 62);
}
h2{
    font-size: 45px; 
}
h4{
    font-weight: 800;
}
h3{
    font-weight: 800;
    font-size: 35px;
}
.foot-height{
    height: 300px;
    background-color: gray;
}
.img-align{
    margin-top: 15px;
}
.txt-align{
    margin-top: 15px;
    padding-left: 40px;
}
main{
    max-width: 1200px;
}
.txt-align .head-align{
    padding-bottom: 1px;
}
.para-align{
    padding-bottom: 10px;
}
@media (max-width:765px){
    .img-align{
        margin-top: 10px;
        padding: 5px 180px;
    }
    .txt-align .head-align{
        padding: 0px 100px;
    }
    .para-align{
        padding: 1px 60px 20px 60px;
    }
}